openai==1.61.1
anthropic==0.52.0
google-cloud-aiplatform==1.49.0
google-generativeai==0.8.4
fairscale==0.4.13
sentencepiece==0.2.1
transformers==5.5.3
accelerate==1.11.0
flash-attn==2.8.3
bitsandbytes==0.44.0
protobuf==6.33.0
pandas==2.3.3
requests==2.29.0
tqdm==4.64.1
numpy==1.26.4
mistral_common==1.11.0
